<div class="row">

<!--<div class="col-3  menu">
 
</div> -->

<div class="col-6 col-m-12">
    <md-sidenav-container fullscreen>

   
    <md-sidenav #start>
        <md-nav-list>
          <div class="side-top">
                <div class="side-prof-img">
                    <img src="http://i.imgur.com/BsA7GoC.png" alt="Prof-Img" >  
                </div>
                <div class="side-name"> 
                      John Doe
                </div>
                <div class="side-email">
                  hey@cognitiveclouds.com
                </div>
                

          </div>
          <div class="side-bottom">
            <div class="side-billing">
                <a routerLink="/billing" routerLinkActive="active"><img src="http://i.imgur.com/aEWcefH.png" width="30px" alt="Billing" align="center">
                Billing </a>

                <br><br>

                <a routerLink="/inventory" routerLinkActive="active"><img src="http://i.imgur.com/ZniM6HE.png" width="30px" alt="Inventory" align="center">
                Inventory </a>

                <br><br>

                <a routerLink="/report" routerLinkActive="active"><img src="http://i.imgur.com/e6TdSI8.png" width="30px" alt="Report" align="center">
                Report </a>

                 <br><br>

                <a routerLink="/settings" routerLinkActive="active"><img src="http://i.imgur.com/lC6TxnB.png" width="30px" alt="Settings" align="center">
                Settings </a>

                 <br><br>

                <a routerLink="/support" routerLinkActive="active"><img src="http://i.imgur.com/rU0cWZz.png" width="30px" alt="Support" align="center">
                Support </a>
            </div>


            

          </div>

          
            
            
        </md-nav-list>

        
     

    </md-sidenav>

    <md-toolbar >
      
    <div class="toolbar-icon">
      <button md-icon-button (click)="start.open()" >
          <md-icon  >menu
          </md-icon>
       </button>
    </div>

    <div class="toolbar-heading">
      {{title}}
    </div>

    <!--<div class="toolbar-ricons" align="right"> -->
    <div class="toolbar-ricons" align="right">
   <button md-icon-button (click)="openDialog()" >
          <md-icon  >add
          </md-icon>
       </button>
      
      <app-inventory-menu></app-inventory-menu>
    </div>

    

    <!--</div>-->


    </md-toolbar> 



<!-- Main content -->
    <div class="col-m-7 col-s-12">
      <!--<app-omain-tab-detail></app-omain-tab-detail> -->

      <!--<app-add-item-demo></app-add-item-demo> -->

       <app-omain-tab-detail></app-omain-tab-detail>
    </div><!-- End of col-1 -->



    <div class="col-m-5 col-s-11">
      <app-inventory-list></app-inventory-list>
      
    </div><!-- End of col-2  -->



      <!--<div class="col-m-1 col-s-1">
          
        </div> <!-- End of column 3 -->


<!-- End of main content -->
          
</md-sidenav-container>

          

</div>

<!--<div class="col-3">

</div> -->

</div> <!-- End of action bar row -->



























