.header{
	font-family: "Roboto Medium";
	font-size: 20px;
	
}
img{
	
	width: 48px;
	height: 48px;
}

.bottom-btn{

    background-color: white;
    color:#4caf50;
    
    height: 48px;
    font-family: "Roboto-Medium";
    font-size: 14px;

   
    
}


md-radio-button{
	padding-left: 20px;
}
create-product-form{
	text-align: center;
}