<div class="header">
		Device Status
		<hr>
	</div>
	<div class="create-product-form" align="left" >
        <form class="example-form">

          <table class="example-full-width" cellspacing="0" cellpadding="10px">
         
           
           <tr>
           	<td>
           		Internet 
           		
           	</td>
           	<td>
           		<img src="http://i.imgur.com/NZUUMfD.jpg" alt="Internet" >  Not Connected
           	</td>
           	<td>
           		<button md-button class="bottom-btn">CONNECT</button>
           	</td>
           </tr>
           <tr>
           	<td>
           		Printer 
           		
           	</td>
           	<td>
           		<img src="http://i.imgur.com/6YocSLi.jpg" alt="Printer" >  Paired
           	</td>
           	<td>
           		<button md-button class="bottom-btn" >TEST</button>
           	</td>
           </tr>
           <tr>
           		<td>
           			Data Usage 
           			
           		</td>
           		<td>
           			<md-radio-group>
  								<md-radio-button value="1">Day</md-radio-button>
  								<md-radio-button value="2">Week</md-radio-button>
  								<md-radio-button value="3">Month</md-radio-button>
					</md-radio-group>
           		</td>
           </tr>
           <tr>
           		<td align="center" colspan="2">
           			Total data  used 200 MB
           		</td>
           </tr>

            
           

          
           
          </table>
        </form>
        

      </div>