<!--<h1> Offline Demo </h1>
<ul class="list-group">
	<li class="list-group-item" *ngFor="let listing of olistings">
			<a [routerLink]="['/olisting/'+listing.$key]">{{listing.printname}}</a>
	</li>

</ul> -->

<md-tab-group>
  				<md-tab label="Category-1" >
         
					<md-card class="mcard" *ngFor="let listing of olistings" >
           
            <img md-card-avatar src='http://i.imgur.com/qQlNx4d.jpg' alt='Avarekayi' width="100%">
            <md-chip-list>
  
                <md-chip color="accent" selected=""> {{listing.printname}} 
                </md-chip>
            </md-chip-list>
          </md-card>
         
          
				</md-tab> <!-- End of first tab -->

			
          <md-tab label="Category-2">Loading...</md-tab>

              <md-tab label="Category-3">Loading...</md-tab>
              <md-tab label="Category-4">Loading...</md-tab>

              <md-tab label="Category-5">Loading...</md-tab>
              <md-tab label="Category-6">Loading...</md-tab>

              <md-tab label="Category-7">Loadig...</md-tab>
  				
  			</md-tab-group> <!-- End of Tab content -->