<md-sidenav-container fullscreen>

   <app-side-nav-detail></app-side-nav-detail>

   <div class="login-page">
   		<div class="login-logo">
   			<img src="http://i.imgur.com/wBy57Le.jpg" width="100px" >
   		</div>

   		
   		<div class="login-form">
   			<form class="example-form">

   				<table class="example-full-width" cellspacing="0">
   					<tr>
    					<td>
    						<md-input-container class="example-full-width">
      							<input mdInput placeholder="Phone Number">
    						</md-input-container>
    					</td>
    				</tr>
    				<tr>
    					<td>
    						<md-input-container class="example-full-width">
      							<input mdInput placeholder="Enter Pin">
    						</md-input-container>
    					</td>
    				</tr>
    				<tr>
    					<td>
    						<a md-raised-button color="" >LOGIN</a>
    						
    					</td>
    				</tr>
  				</table>
  			</form>
  			

   		</div> <!-- End of login form -->

   </div><!-- End of login page -->

      		
</md-sidenav-container>