



<div class="row">

<div class="col-3 col-m-3 menu">
 
</div>

<div class="col-6 col-m-6">
  <!--<md-sidenav-container fullscreen>

   <app-side-nav-detail></app-side-nav-detail>  -->

   <div class="login-page">
      <div class="login-logo" align="center">
        <img src="http://i.imgur.com/wBy57Le.jpg" width="100px" >
      </div>

      
      <div class="login-form" align="center">
        <form class="example-form">

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <md-input-container class="example-full-width">
                    <input type="number" mdInput #postalCode maxlength="10" placeholder="Phone Number" value="8008989008">
                    <md-hint align="end">{{postalCode.value.length}} / 10</md-hint>
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <md-input-container class="example-full-width">
                    <input type="password" mdInput placeholder="Enter Pin">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td align="center ">
                 <li *ngIf="!(af.auth | async)" ><a (click)="login()" md-raised-button color="" routerLink="/billing" routerLinkActive="active">Login</a></li>

                 <li *ngIf="(af.auth | async)" ><a md-raised-button color="" routerLink="/billing" routerLinkActive="active">Already Login...Go to Biiling Page......</a></li><br><br>

                 <li *ngIf="(af.auth | async)"><a md-raised-button color="" (click)="logout()" routerLink="/login" routerLinkActive="active">Logout</a></li> 
                <!--<a md-raised-button color="" routerLink="/billing" routerLinkActive="active">LOGIN</a>-->
                
              </td>
            </tr>
            <tr>
              <td>
                 <ul > 
            <!--<li *ngIf="!(af.auth | async)" ><a (click)="login()" routerLink="/billing" routerLinkActive="active">Login</a></li>
             <li *ngIf="(af.auth | async)"><a (click)="logout()" routerLink="/login" routerLinkActive="active">Logout</a></li> -->
            
           
          </ul>
              </td>
            </tr>
          </table>
        </form>
        

      </div> <!-- End of login form -->

      <div class="login-footer">
        <div class="login-footer-text">
          Trouble Loging in? Call our customer care for support.
        </div>
        <div class="login-footer-number">
          +91 800 898 9008
        </div>
        

      </div>

   </div><!-- End of login page -->

          
<!--</md-sidenav-container> -->
</div>

<div class="col-3 col-m-3">

</div>

</div>




