<div class="header">
		Contact
		<hr>
	</div>
	<div class="create-product-form" align="left">
        <form class="example-form">

          <table class="example-full-width" cellspacing="0" cellpadding="15px">
           <tr>
           		<td >
           			Sales Person 
           		</td>
           		<th>
           			John Doe<br>
           			+91 9988776655
           		</th>
           		
           </tr>
           <tr>
           		<td>
           			Customer Care
           		</td>

           		<th>
           			+1 800 404 8888
           		</th>
           </tr>
            
           

          
           
          </table>
        </form>
        

      </div>