<div class="header">
		Contact Information
		<hr>
	</div>
	<div class="create-product-form" align="left">
        <form class="example-form">

          <table class="example-full-width" cellspacing="0" cellpadding="15px">
            <tr>
              <!--<td>
              	<img src="http://i.imgur.com/DoiwVAI.jpg" alt="Store-Img" >  
                
              </td> -->
              <td>
              <img src="http://i.imgur.com/ft68l6p.jpg" alt="Store-Img" >  
                <md-input-container class="example-full-width">
                    <input type="text" mdInput placeholder="Full Name">
                </md-input-container>
              </td>

            </tr>
             <tr>
              <td>
                <md-input-container class="example-full-width">
                    <input type="number" mdInput #postalCode maxlength="10" placeholder="Phone Number" value="8008989008">
                    <md-hint align="end">{{postalCode.value.length}} / 10</md-hint>
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <md-input-container class="example-full-width">
                    <input type="password" mdInput placeholder="Enter Pin">
                </md-input-container>
              </td>
            </tr>
            <tr>
            	<td>
            		<md-input-container class="example-full-width">
                    <input type="text" mdInput placeholder="Email">
                </md-input-container>
            	</td>
            </tr>
            <tr>
            	<td>
            		<md-checkbox>Sales SMS every </md-checkbox>
            		<md-select placeholder="Duration">
  					<md-option *ngFor="let du of duration" [value]="du.value">
    					{{ du.viewValue }}
  					</md-option>
				</md-select>
            	</td>
            </tr>

            <tr>
            	<td>
            		<a md-raised-button color="">UPDATE DETAILS</a>
            	</td>
            </tr>
            
           
           

            
           

          
           
          </table>
        </form>
        

      </div>