<md-card>

	<div class="create-product-form" align="left">
        <form class="example-form">

          <table class="example-full-width" cellspacing="" cellpadding="15px" style="width:100%">
          

           

        
           
            <tr>
            	<th >
               		Today
				      </th>
				      <td>
              		<img src="http://i.imgur.com/KgmzmW7.jpg" width="30px" alt="Download" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/OeD388z.jpg" width="30px" alt="Download" align="center">
              </td>
              
            </tr>
            <tr bgcolor="#E0E3E1">
            	 <td>
                	Bill No
				        </td>
				        <td>
                  	Qty
				        </td>
				        <td>
                	Price
				        </td>
              
            </tr>
         	  <tr>
            	 <td >
                	#3253
				       </td>
				        <td>
                	10
				        </td>
				        <td>
                	&#8377; 100
				        </td>
            </tr>
            <tr>
            	 <td >
                	#3252
				       </td>
				        <td>
                	20
				        </td>
				        <td>
                	&#8377; 200
				        </td>
				
            </tr>
            <tr>
            	 <td >
                	#3251
				       </td>
				       <td>
                	30
				       </td>
				       <td>
                	&#8377; 300
				       </td>
				
            </tr>
            <tr>
            	 <td >
                	#3250
				       </td>
				       <td>
                	20
				       </td>
				       <td>
                	&#8377; 200
				       </td>
				
            </tr>
            <tr>	
				      <th colspan="2" align="center">
                	Total : 
				      </th>
				      <td>
                	&#8377; 800
				      </td>
			      </tr>
			
				
              
           

           
          </table>
        </form>
        

      </div>

</md-card>