<md-card class="mcard">
           
          <div class="card-header col-s-12 col-m-12 col-12">
          	Global Inventory

          </div>
          <div class="card-sec-text col-s-12 col-m-12 col-12">
          	Tap to add a product to local inventory

          </div>
          <hr>
        <div class="expandible-list">
          	<expandable-list>
    			<expandable-list-item>
      				<span title>Category-1</span>
      					

      			      					<pre item><img src="http://i.imgur.com/kmw3vom.jpg" alt="Tomato">           Tomato</pre>
      			      					<pre item><img src="http://i.imgur.com/6yum6t7.jpg" alt="Tomato">          Onion</pre>
                            

      				
      				
    			</expandable-list-item>
  			</expandable-list>
  			<expandable-list>
    			<expandable-list-item>
      				<span title>Category-2</span>
      				<a item href="http://www.cognitiveclouds.com/">Google</a>
      				<a item href="http://www.cognitiveclouds.com/">Google</a>
    			</expandable-list-item>
  			</expandable-list>
  			<expandable-list>
    			<expandable-list-item>
      				<span title>Category-3</span>
      				<a item href="http://www.cognitiveclouds.com/">Google</a>
      				<a item href="http://www.cognitiveclouds.com/">Google</a>
    			</expandable-list-item>
  			</expandable-list>
  			<expandable-list>
    			<expandable-list-item>
      				<span title>Category-4</span>
      				<a item href="http://www.cognitiveclouds.com/">Google</a>
      				<a item href="http://www.cognitiveclouds.com/">Google</a>
    			</expandable-list-item>
  			</expandable-list>
  			<expandable-list>
    			<expandable-list-item>
      				<span title>Category-5</span>
      				<a item href="http://www.cognitiveclouds.com/">Google</a>
      				<a item href="http://www.cognitiveclouds.com/">Google</a>
    			</expandable-list-item>
  			</expandable-list>
  			<expandable-list>
    			<expandable-list-item>
      				<span title>Category-6</span>
      				<a item href="http://www.cognitiveclouds.com/">Google</a>
      				<a item href="http://www.cognitiveclouds.com/">Google</a>
    			</expandable-list-item>
  			</expandable-list>
          </div>

            
</md-card>