<md-sidenav-container fullscreen>
    <md-sidenav #start>
        <md-nav-list>
            <a md-list-item >Home</a>
            <a md-list-item >Profile</a>
            <a md-list-item >Offers</a>
            <a md-list-item >Orders</a>
        </md-nav-list>
        <hr>
        <button md-button (click)="start.close()">CLOSE</button>
    </md-sidenav>
   	<md-toolbar color="accent">
   	 	<button md-icon-button (click)="start.open()">
        <md-icon>menu</md-icon>
       	</button>Billing
   	</md-toolbar> 


   	<!--<div class="tab-content"> -->


	<div class="row">

		<div class="col-1">
			<md-tab-group>
  				<md-tab label="EXTRA VEGETABLES">

					<md-card class="mcard">
						<md-card-title>Rice </md-card-title>
						<md-chip-list>
  
  							<md-chip color="accent" selected="true">  Price : 80 Rs/Kg
  							</md-chip>
						</md-chip-list><br>
							<!--<md-card-subtitle>Price : 80 Rs/Kg</md-card-subtitle> -->
							
						<img md-card-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice" width="100%">
					</md-card>

					<md-card class="mcard">
						<md-card-title>Apple </md-card-title>
						<md-chip-list>
  
  							<md-chip color="accent" selected="true">  Price : 200 Rs/Kg
  							</md-chip>
						</md-chip-list><br>
						<img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-apple-icon-apple-icon-art-apple-icon-web-apple-icon-new-apple-icon-www-apple-icon-app-apple-373867276.jpg" alt="Apple" width="100%">

  
					</md-card>
					<md-card class="mcard">
						<md-card-title>Flour </md-card-title>
							<md-chip-list>
  
  								<md-chip color="accent" selected="true">  Price : 20 Rs/Kg
  							</md-chip>
						</md-chip-list><br>
						<img md-card-avatar src="http://previews.123rf.com/images/dxinerz/dxinerz1601/dxinerz160101989/51010315-Flour-white-wheat-icon-vector-image-Can-also-be-used-for-food-iconset-Suitable-for-use-on-web-apps-m-Stock-Vector.jpg" alt="Floor" width="100%">
							<!--<md-card-subtitle>Price : 80 Rs/Kg</md-card-subtitle> -->
							
							<!--<img md-card-avatar md-list-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice">  -->

  
					</md-card>

					<md-card class="mcard">
						<md-card-title>Bread </md-card-title>
							<md-chip-list>
  
  								<md-chip color="accent" selected="true">  Price : 40 Rs/Kg
  								</md-chip>
							</md-chip-list><br>
							<img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-toast-icon-sliced-bread-sign-bakery-symbol-round-orange-web-button-with-shadow-358468829.jpg" alt="Bread" width="100%">
							<!--<md-card-subtitle>Price : 80 Rs/Kg</md-card-subtitle> -->
							

							<!--<img md-card-avatar md-list-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice"> -->

  
					</md-card>

					<md-card class="mcard">
						<md-card-title>Bread </md-card-title>
						<md-chip-list>
  
  							<md-chip color="accent" selected="true">  Price : 40 Rs/Kg
  							</md-chip>
						</md-chip-list><br>
						<img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-toast-icon-sliced-bread-sign-bakery-symbol-round-orange-web-button-with-shadow-358468829.jpg" alt="Bread" width="100%">
							
  
					</md-card>

					<md-card class="mcard">
						<md-card-title>Flour </md-card-title>
							<md-chip-list>
  
  								<md-chip color="accent" selected="true">  Price : 20 Rs/Kg
  								</md-chip>
							</md-chip-list><br>
							<img md-card-avatar src="http://previews.123rf.com/images/dxinerz/dxinerz1601/dxinerz160101989/51010315-Flour-white-wheat-icon-vector-image-Can-also-be-used-for-food-iconset-Suitable-for-use-on-web-apps-m-Stock-Vector.jpg" alt="Floor" width="100%">
							
					</md-card>
					<md-card class="mcard">
						<md-card-title>Rice </md-card-title>
							<md-chip-list>
  
  								<md-chip color="accent" selected="true">  Price : 80 Rs/Kg
  								</md-chip>
							</md-chip-list><br>
							<img md-card-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice" width="100%">
							
  
					</md-card>

					<md-card class="mcard">
						<md-card-title>Apple </md-card-title>
							<md-chip-list>
  
  								<md-chip color="accent" selected="true">  Price : 200 Rs/Kg
  								</md-chip>
							</md-chip-list><br>
							<img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-apple-icon-apple-icon-art-apple-icon-web-apple-icon-new-apple-icon-www-apple-icon-app-apple-373867276.jpg" alt="Apple" width="100%">
							

  
					</md-card>
				
				</md-tab> <!-- End of first tab -->

				<md-tab label="FRUITS">
    				<md-card class="mcard">
            <md-card-title>Rice </md-card-title>
            <md-chip-list>
  
                <md-chip color="accent" selected="true">  Price : 80 Rs/Kg
                </md-chip>
            </md-chip-list><br>
              <!--<md-card-subtitle>Price : 80 Rs/Kg</md-card-subtitle> -->
              
            <img md-card-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice" width="100%">
          </md-card>

          <md-card class="mcard">
            <md-card-title>Apple </md-card-title>
            <md-chip-list>
  
                <md-chip color="accent" selected="true">  Price : 200 Rs/Kg
                </md-chip>
            </md-chip-list><br>
            <img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-apple-icon-apple-icon-art-apple-icon-web-apple-icon-new-apple-icon-www-apple-icon-app-apple-373867276.jpg" alt="Apple" width="100%">

  
          </md-card>
          <md-card class="mcard">
            <md-card-title>Flour </md-card-title>
              <md-chip-list>
  
                  <md-chip color="accent" selected="true">  Price : 20 Rs/Kg
                </md-chip>
            </md-chip-list><br>
            <img md-card-avatar src="http://previews.123rf.com/images/dxinerz/dxinerz1601/dxinerz160101989/51010315-Flour-white-wheat-icon-vector-image-Can-also-be-used-for-food-iconset-Suitable-for-use-on-web-apps-m-Stock-Vector.jpg" alt="Floor" width="100%">
              <!--<md-card-subtitle>Price : 80 Rs/Kg</md-card-subtitle> -->
              
              <!--<img md-card-avatar md-list-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice">  -->

  
          </md-card>

          <md-card class="mcard">
            <md-card-title>Bread </md-card-title>
              <md-chip-list>
  
                  <md-chip color="accent" selected="true">  Price : 40 Rs/Kg
                  </md-chip>
              </md-chip-list><br>
              <img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-toast-icon-sliced-bread-sign-bakery-symbol-round-orange-web-button-with-shadow-358468829.jpg" alt="Bread" width="100%">
              <!--<md-card-subtitle>Price : 80 Rs/Kg</md-card-subtitle> -->
              

              <!--<img md-card-avatar md-list-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice"> -->

  
          </md-card>

          <md-card class="mcard">
            <md-card-title>Bread </md-card-title>
            <md-chip-list>
  
                <md-chip color="accent" selected="true">  Price : 40 Rs/Kg
                </md-chip>
            </md-chip-list><br>
            <img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-toast-icon-sliced-bread-sign-bakery-symbol-round-orange-web-button-with-shadow-358468829.jpg" alt="Bread" width="100%">
              
  
          </md-card>

          <md-card class="mcard">
            <md-card-title>Flour </md-card-title>
              <md-chip-list>
  
                  <md-chip color="accent" selected="true">  Price : 20 Rs/Kg
                  </md-chip>
              </md-chip-list><br>
              <img md-card-avatar src="http://previews.123rf.com/images/dxinerz/dxinerz1601/dxinerz160101989/51010315-Flour-white-wheat-icon-vector-image-Can-also-be-used-for-food-iconset-Suitable-for-use-on-web-apps-m-Stock-Vector.jpg" alt="Floor" width="100%">
              
          </md-card>
          <md-card class="mcard">
            <md-card-title>Rice </md-card-title>
              <md-chip-list>
  
                  <md-chip color="accent" selected="true">  Price : 80 Rs/Kg
                  </md-chip>
              </md-chip-list><br>
              <img md-card-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice" width="100%">
              
  
          </md-card>

          <md-card class="mcard">
            <md-card-title>Apple </md-card-title>
              <md-chip-list>
  
                  <md-chip color="accent" selected="true">  Price : 200 Rs/Kg
                  </md-chip>
              </md-chip-list><br>
              <img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-apple-icon-apple-icon-art-apple-icon-web-apple-icon-new-apple-icon-www-apple-icon-app-apple-373867276.jpg" alt="Apple" width="100%">
              

  
          </md-card>
  				</md-tab>
  				<md-tab label="OTHERS">
    				<md-card class="mcard">
            <md-card-title>Rice </md-card-title>
            <md-chip-list>
  
                <md-chip color="accent" selected="true">  Price : 80 Rs/Kg
                </md-chip>
            </md-chip-list><br>
              <!--<md-card-subtitle>Price : 80 Rs/Kg</md-card-subtitle> -->
              
            <img md-card-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice" width="100%">
          </md-card>

          <md-card class="mcard">
            <md-card-title>Apple </md-card-title>
            <md-chip-list>
  
                <md-chip color="accent" selected="true">  Price : 200 Rs/Kg
                </md-chip>
            </md-chip-list><br>
            <img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-apple-icon-apple-icon-art-apple-icon-web-apple-icon-new-apple-icon-www-apple-icon-app-apple-373867276.jpg" alt="Apple" width="100%">

  
          </md-card>
          <md-card class="mcard">
            <md-card-title>Flour </md-card-title>
              <md-chip-list>
  
                  <md-chip color="accent" selected="true">  Price : 20 Rs/Kg
                </md-chip>
            </md-chip-list><br>
            <img md-card-avatar src="http://previews.123rf.com/images/dxinerz/dxinerz1601/dxinerz160101989/51010315-Flour-white-wheat-icon-vector-image-Can-also-be-used-for-food-iconset-Suitable-for-use-on-web-apps-m-Stock-Vector.jpg" alt="Floor" width="100%">
              <!--<md-card-subtitle>Price : 80 Rs/Kg</md-card-subtitle> -->
              
              <!--<img md-card-avatar md-list-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice">  -->

  
          </md-card>

          <md-card class="mcard">
            <md-card-title>Bread </md-card-title>
              <md-chip-list>
  
                  <md-chip color="accent" selected="true">  Price : 40 Rs/Kg
                  </md-chip>
              </md-chip-list><br>
              <img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-toast-icon-sliced-bread-sign-bakery-symbol-round-orange-web-button-with-shadow-358468829.jpg" alt="Bread" width="100%">
              <!--<md-card-subtitle>Price : 80 Rs/Kg</md-card-subtitle> -->
              

              <!--<img md-card-avatar md-list-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice"> -->

  
          </md-card>

          <md-card class="mcard">
            <md-card-title>Bread </md-card-title>
            <md-chip-list>
  
                <md-chip color="accent" selected="true">  Price : 40 Rs/Kg
                </md-chip>
            </md-chip-list><br>
            <img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-toast-icon-sliced-bread-sign-bakery-symbol-round-orange-web-button-with-shadow-358468829.jpg" alt="Bread" width="100%">
              
  
          </md-card>

          <md-card class="mcard">
            <md-card-title>Flour </md-card-title>
              <md-chip-list>
  
                  <md-chip color="accent" selected="true">  Price : 20 Rs/Kg
                  </md-chip>
              </md-chip-list><br>
              <img md-card-avatar src="http://previews.123rf.com/images/dxinerz/dxinerz1601/dxinerz160101989/51010315-Flour-white-wheat-icon-vector-image-Can-also-be-used-for-food-iconset-Suitable-for-use-on-web-apps-m-Stock-Vector.jpg" alt="Floor" width="100%">
              
          </md-card>
          <md-card class="mcard">
            <md-card-title>Rice </md-card-title>
              <md-chip-list>
  
                  <md-chip color="accent" selected="true">  Price : 80 Rs/Kg
                  </md-chip>
              </md-chip-list><br>
              <img md-card-avatar src="http://images.stockunlimited.net/preview1300/sack-of-rice-icon_1317613.jpg" alt="Rice" width="100%">
              
  
          </md-card>

          <md-card class="mcard">
            <md-card-title>Apple </md-card-title>
              <md-chip-list>
  
                  <md-chip color="accent" selected="true">  Price : 200 Rs/Kg
                  </md-chip>
              </md-chip-list><br>
              <img md-card-avatar src="http://image.shutterstock.com/z/stock-vector-apple-icon-apple-icon-art-apple-icon-web-apple-icon-new-apple-icon-www-apple-icon-app-apple-373867276.jpg" alt="Apple" width="100%">
              

  
          </md-card>
  				</md-tab>
  				
  			</md-tab-group> <!-- End of Tab content -->

		</div><!-- End of col-1-->

		<div class="col-2">

  			<div class="aside">

    			
  					<md-tab-group >
              <md-tab label="Tab 1" >Content 1</md-tab>
              <md-tab label="Tab 2">Content 2</md-tab>
            </md-tab-group>
				
         		
         		
  				<hr>

  				<!--Bottom buttons -->
				<div class="btn-group">
  					<button md-button >Button1</button>
  					<button md-button>Button2</button>
  				</div><!-- End of button group -->

  			</div><!-- End of aside -->

		</div><!-- End of col-2 -->

	</div><!-- End of class-row -->

	<div class="footer">
  		<p>Resize the browser window to see how the content respond to the resizing.</p>
	</div>

      		
</md-sidenav-container>