<div class="header">
		Store Information
		<hr>
	</div>
	<div class="create-product-form" align="left">
        <form class="example-form">

          <table class="example-full-width" cellspacing="0" cellpadding="15px" style="width:100%">
            <tr>
              <!--<td>
              	<img src="http://i.imgur.com/DoiwVAI.jpg" alt="Store-Img" >  
                
              </td> -->
              <td>
              <img src="http://i.imgur.com/DoiwVAI.jpg" alt="Store-Img" >  
                <md-input-container class="example-full-width">
                    <input type="text" mdInput placeholder="Store Name">
                </md-input-container>
              </td>

            </tr>
             <tr>
            
              <td>
                <md-input-container class="example-full-width">
                    <input type="text" mdInput placeholder="Address">
                </md-input-container>
              </td>

            </tr>
            <tr>
            	<td >
            		<md-select placeholder="State" class="example-full-width">
  					<md-option *ngFor="let state of states" [value]="state.value">
    					{{ state.viewValue }}
  					</md-option>
				</md-select>
            	</td>

            </tr>
            <tr>
            	<td>
            		<md-select placeholder="City" class="example-full-width">
  					<md-option *ngFor="let city of cities" [value]="city.value">
    					{{ city.viewValue }}
  					</md-option>
				</md-select>
				
            	</td>

            </tr>
            <tr>
            	<td>
            		<md-input-container class="example-full-width">
                    <input type="number" mdInput #postalCode maxlength="6" placeholder="Pin" value="560001">
                    <md-hint align="end">{{postalCode.value.length}} / 6</md-hint>
                </md-input-container>
            	</td>
            	

            </tr>

            
           

          
           
          </table>
        </form>
        

      </div>