 <md-sidenav #start>
        <md-nav-list>
          <div class="side-top">
                <div class="side-prof-img">
                    <img src="http://i.imgur.com/BsA7GoC.png" alt="Prof-Img" >  
                </div>
                <div class="side-name"> 
                      John Doe
                </div>
                <div class="side-email">
                  hey@cognitiveclouds.com
                </div>
                <!--<h5 font-family="Roboto Medium"
                    font-size=14px ></h5><br>
                <h5 font-family="Roboto Regular"
                    font-size=14px>hhey</h5> -->

          </div>
          <div class="side-bottom">
            <div class="side-billing">
                <a routerLink="/billing" routerLinkActive="active"><img src="http://i.imgur.com/aEWcefH.png" width="30px" alt="Billing" align="center">
                Billing </a>

                <br><br>

                <a routerLink="/inventory" routerLinkActive="active"><img src="http://i.imgur.com/ZniM6HE.png" width="30px" alt="Inventory" align="center">
                Inventory </a>

                <br><br>

                <a routerLink="/report" routerLinkActive="active"><img src="http://i.imgur.com/e6TdSI8.png" width="30px" alt="Report" align="center">
                Report </a>

                 <br><br>

                <a routerLink="/settings" routerLinkActive="active"><img src="http://i.imgur.com/lC6TxnB.png" width="30px" alt="Settings" align="center">
                Settings </a>

                 <br><br>

                <a routerLink="/support" routerLinkActive="active"><img src="http://i.imgur.com/rU0cWZz.png" width="30px" alt="Support" align="center">
                Support </a>
            </div>


            

          </div>

          <!--  <a md-list-item >
          <md-icon md-list-icon>help</md-icon>
              <h3 md-line align="left"><a routerLink="/help" routerLinkActive="active">Help</a></h3><br>
    
              
            </a>  -->
            
            
        </md-nav-list>

        <hr>
        
        <a md-raised-button color="accent" (click)="start.close()" >CLOSE!</a>
        <!-- Roting area --> <!--
		<hr>
		<nav>
			<a routerLink="/help" routerLinkActive="active">Help me!</a><br>
			<a routerLink="/mainTab" routerLinkActive="active">Main-Tab</a>

		</nav>
		<router-outlet></router-outlet> -->
		<!-- End of Routing area -->

    </md-sidenav>

    <md-toolbar >
      
    <div class="toolbar-icon">
   	 	<button md-icon-button (click)="start.open()" >
          <md-icon  ><img src="http://i.imgur.com/BpuLTLm.png" height="30px" color="#0f9d58">
          </md-icon>
       </button>
    </div>

    <div class="toolbar-heading">
      {{title}}
    </div>


   	</md-toolbar> 
  