<md-dialog-content>
	<div class="dheader">
		Edit
	</div>
	<div class="create-product-form" align="center">
        <form class="example-form">

          <table class="example-full-width" cellspacing="0" cellpadding="15px">
            <tr>
              <td>
              	<img src="http://i.imgur.com/Yg3R2I4.png" alt="Product Image" >  
                <!--<md-input-container class="example-full-width">
                    <input type="number" mdInput #postalCode maxlength="10" placeholder="Phone Number" value="8008989008">
                    <md-hint align="end">{{postalCode.value.length}} / 10</md-hint>
                </md-input-container> -->
              </td>
              <td>
                <md-input-container class="example-full-width">
                    <input type="text" mdInput placeholder="Name">
                </md-input-container>
              </td>

            </tr>
             <tr>
              <td align="center">
                <button md-button class="bottom-btn">GALLERY</button>
              	
              </td>
              <td>
                <md-input-container class="example-full-width">
                    <input type="text" mdInput placeholder="Print Name">
                </md-input-container>
              </td>

            </tr>
            <tr>
              <td>
                <md-select placeholder="Category">
  					<md-option *ngFor="let cat of category" [value]="category.value">
    					{{ cat.viewValue }}
  					</md-option>
				</md-select>
              </td>
            </tr>
            <tr>
              <td>
                <md-select placeholder="Unit">
  					<md-option *ngFor="let un of unit" [value]="unit.value">
    					{{ un.viewValue }}
  					</md-option>
				</md-select>
              </td>
              <td>
                <md-input-container class="example-full-width">
                    <input type="number" mdInput placeholder="Price">
                </md-input-container>
              </td>
            </tr>
            <tr>
            	<td>
            		<md-radio-group>
  						<md-radio-button value="1">Image</md-radio-button>
  						<md-radio-button value="2">Initials</md-radio-button>
					</md-radio-group>
            	</td>
            </tr>
           
          </table>
        </form>
        

      </div>



</md-dialog-content>

<md-dialog-actions >

   <button md-button class="bottom-btn">DELETE</button>
    <button md-button class="bottom-btn">CANCEL</button>
     <button md-button class="bottom-btn">SAVE</button>
	
    

</md-dialog-actions>

