<md-tab-group>
  				<md-tab label="Category-1" >
         
					<md-card class="mcard" *ngFor="let wegi of weg" >
           
            <img md-card-avatar src={{wegi.img}} alt={{wegi.name}} width="100%">
            <md-chip-list>
  
                <md-chip color="accent" selected=""> {{wegi.name}} 
                </md-chip>
            </md-chip-list>
          </md-card>
         
          
				</md-tab> <!-- End of first tab -->

				<md-tab label="Category-2">
    				    <md-card class="mcard" *ngFor="let wegi of weg">
           
            <img md-card-avatar src={{wegi.img}} alt={{wegi.name}} width="100%">
            <md-chip-list>
  
                <md-chip color="accent" selected=""> {{wegi.name}} 
                </md-chip>
            </md-chip-list>
          </md-card>
  				</md-tab>

  				<md-tab label="Category-3">
    				    <md-card class="mcard" *ngFor="let wegi of weg">
           
            <img md-card-avatar src={{wegi.img}} alt={{wegi.name}} width="100%">
            <md-chip-list>
  
                <md-chip color="accent" selected=""> {{wegi.name}} 
                </md-chip>
            </md-chip-list>
          </md-card>
  				</md-tab>
          <md-tab label="Category-4">Loading...</md-tab>

              <md-tab label="Category-5">Loading...</md-tab>
              <md-tab label="Category-6">Loading...</md-tab>

              <md-tab label="Category-7">Loading...</md-tab>
              <md-tab label="Category-8">Loading...</md-tab>

              <md-tab label="Category-9">Loadig...</md-tab>
  				
  			</md-tab-group> <!-- End of Tab content -->