<md-dialog-content>
	<div class="dheader">
		Organise Category<hr>
	</div>
	<div class="create-product-form" align="center">
        <form class="example-form">

          <table class="example-full-width" cellspacing="0" cellpadding="15px">
          
            

            <tr>
              <td colspan="2" align="left">
              	Category 1
              </td>
              <td >
              	<img src="http://i.imgur.com/DuqyKhl.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/29TfyKC.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/2bdSXj5.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/Yd7akkF.jpg" width="30px" alt="Support" align="center">
              </td>
            </tr>


            <tr>
              <td colspan="2" align="left">
              	Category 2
              </td>
              <td>
              	<img src="http://i.imgur.com/DuqyKhl.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/29TfyKC.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/2bdSXj5.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/Yd7akkF.jpg" width="30px" alt="Support" align="center">
              </td>
            </tr>


            <tr>
              <td colspan="2" align="left">
              	Category 3
              </td>
              <td>
              	<img src="http://i.imgur.com/DuqyKhl.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/29TfyKC.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/2bdSXj5.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/Yd7akkF.jpg" width="30px" alt="Support" align="center">
              </td>
            </tr>


            <tr>
              <td colspan="2" align="left"> 
              	Category 4
              </td>
              <td>
              	<img src="http://i.imgur.com/DuqyKhl.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/29TfyKC.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/2bdSXj5.jpg" width="30px" alt="Support" align="center">
              </td>
              <td>
              	<img src="http://i.imgur.com/Yd7akkF.jpg" width="30px" alt="Support" align="center">
              </td>
            </tr>

            <tr>
              <td > 
              	<md-input-container class="example-full-width">
                    <input type="text" mdInput placeholder="New Category">
                </md-input-container>
              </td>
              <td>
              	
              </td>
              <td>
              	
              </td>
              <td>
              	
              </td>
              <td>
              	
              </td>
            </tr>
           
          
           
          </table>
        </form>
        

      </div>



</md-dialog-content>

<md-dialog-actions >
	
	
	<button md-button class="bottom-btn">CANCEL</button>
    <button md-button class="bottom-btn">SAVE</button>
    

</md-dialog-actions>

