<div class="aside">
          <!--<md-toolbar color="accent"> -->

          <div class="col-s-10 col-m-10 col-10" align="center">
          
            <md-tab-group>

                <md-tab label="BILL-1">
                

                  <table>
                      <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                      </tr>
                      <tr>
                        <td>Carrot</td>
                        <td>1 Q</td>
                        <td>96.00</td>
      
                      </tr>
                      <tr>
                        <td>Yam</td>
                        <td>1 Q</td>
                        <td>891.00</td>
      
                      </tr>
                      <tr>
                        <td>Ring Beans</td>
                        <td>1.00 K</td>
                        <td>82.00</td>
      
                      </tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      
                     
                      <tr><th>Total</th><th>3</th><th>1069 Rs</th></tr>

                    </table>
                  </md-tab>

                <md-tab label="BILL-2">Empety list...</md-tab>

                <md-tab label="BILL-3">Empety list...</md-tab>

                <md-tab label="BILL-2">Empety list...</md-tab>

                <md-tab label="BILL-3">Empety list...</md-tab>
                <md-tab label="BILL-2">Empety list...</md-tab>

                <md-tab label="BILL-3">Empety list...</md-tab>
            </md-tab-group>

          </div><!--End of table-->
          <div class="col-s-2 col-m-2 col-2" align="left">

          <app-menu-detail></app-menu-detail>
          
            <!--<img src="http://i.imgur.com/lc4NTqJ.jpg" height="30px" color="#0f9d58">-->

          </div><!-- End of menu icon -->

          <div class="col-s-12 col-m-12 col-12" align="center">
          
            
    
            <button md-button class="bottom-btn">CLEAR</button>
            <button md-button class="bottom-btn">PRINT</button>
            

          </div><!-- End of bill button -->


  </div><!-- End of aside -->
            
      
         

            <!--<md-tab-group >
              
              <md-tab label="BILL-1">
                

                  <table>
                      <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                      </tr>
                      <tr>
                        <td>Carrot</td>
                        <td>1 Q</td>
                        <td>96.00</td>
      
                      </tr>
                      <tr>
                        <td>Yam</td>
                        <td>1 Q</td>
                        <td>891.00</td>
      
                      </tr>
                      <tr>
                        <td>Ring Beans</td>
                        <td>1.00 K</td>
                        <td>82.00</td>
      
                      </tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      
                     
                      <tr><th>Total</th><th>3</th><th>1069 Rs</th></tr>

                    </table>
                  
              
              
              <md-tab label="BILL-2">Empety list...</md-tab>

              <md-tab label="BILL-3">Empety list...</md-tab>
              
            </md-tab-group> -->
            
   

            
				
         		
         		
  				

  				<!--Bottom buttons -->
				<!--<div class="btn-group">
  					<button md-button class="bottom-btn">DISCOUNT</button>
  					<button md-button class="bottom-btn">CLEAR</button>
            <button md-button class="bottom-btn">PRINT</button>
            <button md-button class="bottom-btn">CARD PAY</button>
  				</div>--><!-- End of button group -->

      

  		<!-- End of aside -->

