<div class="aside">
          <!--<md-toolbar color="accent"> -->
            <md-tab-group >
              
              <md-tab label="BILL-1">
                
<!--<div style="overflow-x:auto;"> -->
                  <table>
                      <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                      </tr>
                      <tr>
                        <td>Carrot</td>
                        <td>1 Q</td>
                        <td>96.00</td>
      
                      </tr>
                      <tr>
                        <td>Yam</td>
                        <td>1 Q</td>
                        <td>891.00</td>
      
                      </tr>
                      <tr>
                        <td>Ring Beans</td>
                        <td>1.00 K</td>
                        <td>82.00</td>
      
                      </tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><td></td><td></td><td></td></tr>
                      <tr><th>Total</th><th>3</th><th>1069 Rs</th></tr>

                    </table>
                    <!--</div> -->
              </md-tab> <!-- End of List-1 -->
              
              <md-tab label="BILL-2">Empety list...</md-tab>

              <md-tab label="BILL-3">Empety list...</md-tab>
              
            </md-tab-group>
            
   

            
				
         		
         		
  				<hr>

  				<!--Bottom buttons -->
				<div class="btn-group">
  					<button md-button class="bottom-btn">DISCOUNT</button>
  					<button md-button class="bottom-btn">CLEAR</button>
            <button md-button class="bottom-btn">PRINT</button>
            <button md-button class="bottom-btn">CARD PAY</button>
  				</div><!-- End of button group -->

  			</div><!-- End of aside -->