<md-sidenav-container fullscreen>

   <app-side-nav-detail></app-side-nav-detail>
   
   	


   	<!--<div class="tab-content"> -->


	<div class="row">

		<div class="col-1">
			<md-tab-group>
  				<md-tab label="VEGETABLES" >
         
					<md-card class="mcard" *ngFor="let wegi of weg">
           
            <img md-card-avatar src={{wegi.img}} alt={{wegi.name}} width="60%">
            <md-chip-list>
  
                <md-chip color="accent" selected=""> {{wegi.name}} 
                </md-chip>
            </md-chip-list>
          </md-card>
         
          
				</md-tab> <!-- End of first tab -->

				<md-tab label="FRUITS">
    				    <md-card class="mcard" *ngFor="let wegi of weg">
           
            <img md-card-avatar src={{wegi.img}} alt={{wegi.name}} width="60%">
            <md-chip-list>
  
                <md-chip color="accent" selected=""> {{wegi.name}} 
                </md-chip>
            </md-chip-list>
          </md-card>
  				</md-tab>

  				<md-tab label="OTHERS">
    				    <md-card class="mcard" *ngFor="let wegi of weg">
           
            <img md-card-avatar src={{wegi.img}} alt={{wegi.name}} width="60%">
            <md-chip-list>
  
                <md-chip color="accent" selected=""> {{wegi.name}} 
                </md-chip>
            </md-chip-list>
          </md-card>
  				</md-tab>
          <md-tab label="New Tab-1">Loading...</md-tab>

              <md-tab label="New Tab-2">Loading...</md-tab>
              <md-tab label="New Tab-3">Loading...</md-tab>

              <md-tab label="New Tab-4">Loading...</md-tab>
              <md-tab label="New Tab-5">Loading...</md-tab>

              <md-tab label="New Tab-6">Loadig...</md-tab>
  				
  			</md-tab-group> <!-- End of Tab content -->

		</div><!-- End of col-1-->

		<div class="col-2">

  			<!-- Start of aside -->

        <app-bill-detail></app-bill-detail>

		</div><!-- End of col-2 -->

    	<div class="col-3">
      		<app-menu-detail></app-menu-detail>
      	</div> <!-- End of column 3 -->


	</div><!-- End of class-row -->


<!--
	<div class="footer">
  		<p>Resize the browser window to see how the content respond to the resizing.</p>
	</div>  -->

      		
</md-sidenav-container>