<md-sidenav-container fullscreen>

   <!--<app-side-nav-detail></app-side-nav-detail> -->

   	<!--<div class="tab-content"> -->
	<div class="row">



		<div class="col-1">
			<app-main-tab-detail></app-main-tab-detail>
		</div><!-- End of col-1-->



		<div class="col-2">
			<app-bill-detail></app-bill-detail>
		</div><!-- End of col-2 -->



    	<div class="col-3">
      		<app-menu-detail></app-menu-detail>
      	</div> <!-- End of column 3 -->


	</div><!-- End of class-row -->

      		
</md-sidenav-container>