<md-sidenav-container fullscreen>



  
    <md-sidenav #start>
        <md-nav-list>
          <div class="side-top">
                <div class="side-prof-img">
                    <img src="http://i.imgur.com/BsA7GoC.png" alt="Prof-Img" >  
                </div>
                <div class="side-name"> 
                      John Doe
                </div>
                <div class="side-email">
                  heyjohn@cognitiveclouds.com
                </div>
                

          </div>
          <div class="side-bottom">
            <div class="side-billing">
                <a routerLink="/billing" routerLinkActive="active"><img src="http://i.imgur.com/aEWcefH.png" width="30px" alt="Billing" align="center">
                Billing </a>

                <br><br>

                <a routerLink="/inventory" routerLinkActive="active"><img src="http://i.imgur.com/ZniM6HE.png" width="30px" alt="Inventory" align="center">
                Inventory </a>

                <br><br>

                <a routerLink="/report" routerLinkActive="active"><img src="http://i.imgur.com/e6TdSI8.png" width="30px" alt="Report" align="center">
                Report </a>

                 <br><br>

                <a routerLink="/settings" routerLinkActive="active"><img src="http://i.imgur.com/lC6TxnB.png" width="30px" alt="Settings" align="center">
                Settings </a>

                 <br><br>

                <a routerLink="/support" routerLinkActive="active"><img src="http://i.imgur.com/rU0cWZz.png" width="30px" alt="Support" align="center">
                Support </a>
            </div>


            

          </div>

          
            
            
        </md-nav-list>

   
     

    </md-sidenav>

    <md-toolbar >
      
    <div class="toolbar-icon" align="center">
   	 	<button md-icon-button (click)="start.open()" >
          <md-icon  ><img src="http://i.imgur.com/BpuLTLm.png" height="30px" color="#0f9d58">
          </md-icon>
       </button>
    </div>

    <div class="toolbar-heading">
      {{title}}
    </div>

    <div class="toolbar-full-screen">
      <img src="http://i.imgur.com/zWjFuyi.jpg" height="30px" color="#0f9d58">
    </div>

    <div class="toolbar-search">
      <img src="http://i.imgur.com/J4PTK5n.jpg" height="30px" color="#0f9d58">
    </div>


   	</md-toolbar> 
  





   	<!--<div class="tab-content"> -->
	<div class="row">



		<div class="col-1">
			<app-main-tab-detail></app-main-tab-detail>
		</div><!-- End of col-1-->



		<div class="col-2">
			<app-bill-detail></app-bill-detail>
		</div><!-- End of col-2 -->



    	<div class="col-3">
      		<app-menu-detail></app-menu-detail>
      	</div> <!-- End of column 3 -->


	</div><!-- End of class-row -->

      		
</md-sidenav-container>